[Unit]
Description=Initialize Ram Freezer USB Gadget
After=syslog.target
#After=local-fs.target

[Service]
Type=oneshot
User=root
ExecStart=/opt/ram-freezer/utils/usb-setup/init-usb-gadget.sh
RemainAfterExit=true
ExecStop=/opt/ram-freezer/utils/usb-setup/remove-usb-gadget.sh
StandardOutput=journal

[Install]
WantedBy=local-fs.target
#WantedBy=multi-user.target
